{% extends 'HatueySoftTicketBundle::layout.html.twig' %}

{% block title 'Proyecto list' %}

{% block headline block('Respuesta list') %}

{% block tituloPagina %}
    <h1>Respuesta list</h1>
{% endblock %}

{% block content -%}

    <table class="records_list table table-hover table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Respuesta</th>
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('respuesta_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.Respuesta }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('respuesta_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('respuesta_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('respuesta_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
