{% extends '@HatueySoftTicket/layout.html.twig' %}

{% block stylesheets %}

    <link href="{{ asset('components/css/github_2.css') }}" rel="stylesheet">
    <link href="{{ asset('components/css/github_1.css') }}" rel="stylesheet">

{% endblock %}

{% block title 'title' %}

{% block tituloPagina %}

{% endblock %}

{% block content -%}

    <div class="pagehead repohead instapaper_ignore readability-menu experiment-repo-nav">
        <div class="container repohead-details-container">

            <h1 class="entry-title public " style="font-size: 2em">
                <svg aria-hidden="true" class="octicon octicon-repo" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12"><path d="M4 9h-1v-1h1v1z m0-3h-1v1h1v-1z m0-2h-1v1h1v-1z m0-2h-1v1h1v-1z m8-1v12c0 0.55-0.45 1-1 1H6v2l-1.5-1.5-1.5 1.5V14H1c-0.55 0-1-0.45-1-1V1C0 0.45 0.45 0 1 0h10c0.55 0 1 0.45 1 1z m-1 10H1v2h2v-1h3v1h5V11z m0-10H2v9h9V1z"></path></svg>

                        <strong><a href="{{ url('ticket_show', {'id' : entity.id}) }}">{{ entity.nombre }}</a></strong>
            </h1>
        </div>
    </div>

    <div class="container pagehead experiment-repo-nav">
        <div class="repohead-details-container">
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('proyecto_edit', { 'id': entity.id }) }}" class="btn btn-primary right" role="button" tabindex="0" data-hotkey="c">
                Editar
            </a>
            {% endif %}

            <h1 class="gh-header-title" style="font-size: 2em">
                <span class="js-issue-title">{{ entity.descripcion }}</span>
            </h1>
            <div class="flex-table gh-header-meta">
                <div class="flex-table-item">
                    <div class="state state-open">
                        <svg aria-hidden="true" class="octicon octicon-issue-opened" height="16" role="img" version="1.1" viewBox="0 0 14 16" width="14"><path d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7S10.14 13.7 7 13.7 1.3 11.14 1.3 8s2.56-5.7 5.7-5.7m0-1.3C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7S10.86 1 7 1z m1 3H6v5h2V4z m0 6H6v2h2V10z"></path></svg>
                        {{ entity.etapa }}
                    </div>
                </div>
                <div class="flex-table-item flex-table-item-primary">
                    Este proyecto inici&oacute el <time title="{{ entity.fechainicio|date('Y-m-d') }}" datetime="{{ entity.fechainicio|date('Y-m-d') }}" is="relative-time">
                        {{ entity.fechainicio|date('d') }} del mes {{ entity.fechainicio|date('m') }} de {{ entity.fechainicio|date('Y') }} y
                        termina el {{ entity.fechafin|date('d') }} del mes {{ entity.fechafin|date('m') }} de {{ entity.fechafin|date('Y') }}

                    </time>
                    · {{ render(controller('HatueySoftTicketBundle:Ticket:getCantComentarios', {'ticket' : entity.id })) }} <svg aria-hidden="true" class="octicon octicon-comment" height="16" role="img" version="1.1" viewBox="0 0 14 16" width="14"><path d="M13 2H1c-0.55 0-1 0.45-1 1v8c0 0.55 0.45 1 1 1h2v3.5l3.5-3.5h6.5c0.55 0 1-0.45 1-1V3c0-0.55-0.45-1-1-1z m0 9H6L4 13V11H1V3h12v8z"></path></svg>
                </div>
            </div>

        </div>

    </div>


    <div class="container issues-listing" data-pjax="">

        <div class="subnav" data-pjax="">
            <a href="{{ url('ticket_new') }}" class="btn btn-primary right" role="button" tabindex="0" data-hotkey="c">
                Nuevo ticket
            </a>


            <div class="left subnav-spacer-right" role="search">
                 <div class="left select-menu js-menu-container js-select-menu subnav-search-context">
                    <button class="btn" type="button" aria-haspopup="true">
                        Buscar
                    </button>

                </div>

                <form accept-charset="UTF-8" action="/buscar" class="subnav-search left" data-pjax="true" method="get">
                    <div style="margin:0;padding:0;display:inline"><input name="utf8" value="" type="hidden"></div>
                    <input name="q" value="" class="subnav-search-input input-contrast" placeholder="Buscar tickets" aria-label="Buscar tickets" type="text">
                </form>
            </div>
        </div>

        <div class="table-list-header" id="js-issues-toolbar">

            <div class="table-list-filters">

                <div class="table-list-header-toggle states left">
                    <a href="" class="btn-link selected">
                        <svg aria-hidden="true" class="octicon octicon-issue-opened" height="16" role="img" version="1.1" viewBox="0 0 14 16" width="14"><path d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7S10.14 13.7 7 13.7 1.3 11.14 1.3 8s2.56-5.7 5.7-5.7m0-1.3C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7S10.86 1 7 1z m1 3H6v5h2V4z m0 6H6v2h2V10z"></path></svg>
                        {{ ticketsAbiertos }} Abiertos
                    </a>

                    <a href="" class="btn-link selected">
                        <svg aria-hidden="true" class="octicon octicon-checklist" height="16" role="img" version="1.1" viewBox="0 0 14 16" width="14"><path d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7S10.14 13.7 7 13.7 1.3 11.14 1.3 8s2.56-5.7 5.7-5.7m0-1.3C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7S10.86 1 7 1z m1 3H6v5h2V4z m0 6H6v2h2V10z"></path></svg>
                        {{ ticketsEnProceso }} En proceso
                    </a>

                    <a href="https://github.com/Haehnchen/idea-php-symfony2-plugin/issues?q=is%3Aissue+is%3Aclosed" class="btn-link ">
                        <svg aria-hidden="true" class="octicon octicon-check" height="16" role="img" version="1.1" viewBox="0 0 12 16" width="12"><path d="M12 5L4 13 0 9l1.5-1.5 2.5 2.5 6.5-6.5 1.5 1.5z"></path></svg>
                        {{ ticketsTerminados }} Cerrados
                    </a>
                </div>


                <div class="table-list-header-toggle right">
                    <div class="left select-menu js-menu-container js-select-menu js-load-contents" data-contents-url="">
                        <button class="btn-link select-menu-button js-menu-target" type="button" aria-haspopup="true" data-hotkey="u">
                            Autor
                        </button>

                        <div class="select-menu-modal-holder js-menu-content js-navigation-container" aria-hidden="true">

                            <div class="select-menu-modal">
                                <div class="select-menu-header">
                                    <span class="select-menu-title">Filtrado por autor</span>
                                </div>

                                <div class="js-select-menu-deferred-content"></div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <ul class="table-list table-list-bordered table-list-issues js-navigation-container js-active-navigation-container">
            {% for ticket in tickets %}
            <li id="issue_668" class="read table-list-item js-navigation-item js-issue-row">


                <div class="table-list-cell table-list-cell-type">
                    <a href="{{ url('proyecto_show', {'id': entity.id}) }}" aria-label="Ver todos los tickets" class="tooltipped tooltipped-n">
                        <svg aria-hidden="true" class="octicon octicon-issue-opened open" height="16" role="img" version="1.1" viewBox="0 0 14 16" width="14"><path d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7S10.14 13.7 7 13.7 1.3 11.14 1.3 8s2.56-5.7 5.7-5.7m0-1.3C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7S10.86 1 7 1z m1 3H6v5h2V4z m0 6H6v2h2V10z"></path></svg>
                    </a>  </div>

                <div class="table-list-cell issue-title">

                    <a href="{{ url('ticket_show', { 'id': ticket.id }) }}" class="issue-title-link js-navigation-open">
                        {{ ticket.tema }}
                    </a>
                 <div class="issue-meta">
      <span class="issue-meta-section opened-by">
        #{{ ticket.id }}
        Abierto hace <time title="{{ ticket.fecha|date('Y-m-d') }}" datetime="{{ ticket.fecha|date('Y-m-d') }}" is="relative-time">
              {% if "now"|date('Y') - ticket.fecha|date('Y') > 0 %}
                {% if "now"|date('Y') - ticket.fecha|date('Y') == 1 %}
                    {{ "now"|date('Y') - ticket.fecha|date('Y') }} año
                {% else %}
                        {{ "now"|date('Y') - ticket.fecha|date('Y') }} años
                {% endif %}
              {% endif %}
              {% if "now"|date('m') - ticket.fecha|date('m') > 0 %}
                  {% if "now"|date('m') - ticket.fecha|date('m') == 1 %}
                      {{ "now"|date('m') - ticket.fecha|date('m') }} mes
                  {% else %}
                      {{ "now"|date('m') - ticket.fecha|date('m') }} meses
                  {% endif %}
              {% endif %}
              {% if "now"|date('d') - ticket.fecha|date('d') > 0 %}
                  {% if "now"|date('d') - ticket.fecha|date('d') == 1 %}
                      {{ "now"|date('d') - ticket.fecha|date('d') }} d&iacutea
                  {% else %}
                      {{ "now"|date('d') - ticket.fecha|date('d') }} d&iacuteas
                  {% endif %}
              {% endif %}
          </time> por
        {#url del usuario autor#}
          <a href="{{ url('ticket_show', { 'id': ticket.id }) }}" aria-label="Ver todos los tickets abiertos por {{ ticket.usuario }}" class="tooltipped tooltipped-s muted-link">{{ ticket.usuario }}</a>
      </span>


      <span class="issue-meta-section css-truncate issue-milestone">
      </span>


                    </div>
                </div>

                <div class="table-list-cell table-list-cell-avatar">
                </div>

                <div class="table-list-cell issue-comments">
                    <a href="#" class="muted-link ">
                        <svg aria-hidden="true" class="octicon octicon-comment" height="16" role="img" version="1.1" viewBox="0 0 14 16" width="14"><path d="M13 2H1c-0.55 0-1 0.45-1 1v8c0 0.55 0.45 1 1 1h2v3.5l3.5-3.5h6.5c0.55 0 1-0.45 1-1V3c0-0.55-0.45-1-1-1z m0 9H6L4 13V11H1V3h12v8z"></path></svg>
                        {{ render(controller('HatueySoftTicketBundle:Ticket:getCantComentarios', { 'ticket': ticket.id })) }}
                    </a>
                </div>
            </li>


            {% endfor %}
        </ul>


        <div class="paginate-container">

            <div class="pagination"><span class="previous_page disabled">Previous</span> <em class="current">1</em> <a rel="next" href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a> <span class="gap">â¦</span> <a href="#">8</a> <a href="#">9</a> <a class="next_page" rel="next" href="#">Next</a></div>
        </div>


    </div>
{% endblock %}

{% block javascripts %}
    <link as="script" href="{{ asset('components/js/frameworks.js') }}" rel="preload">
    <link as="script" href="{{ asset('components/js/github.js') }}" rel="preload">
{% endblock javascripts %}
